.amiibo {
    width: 250px;
    height: 300px;
    --background: linear-gradient(to left, #f7ba2b 0%, #ea5358 100%);
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #f7ba2b;
    background: var(--background);
    position: relative;
    z-index: 1;
     
}

.card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: .7rem;
}
#img {
    object-fit: contain;
    transition: 0.3s;
    filter: brightness(0) invert(1);
    height: 200px;
    width: 200px;
    margin-top: 8px;

}
#img:hover {
    object-fit: contain;
    height: 205px;
    width: 205px;
    transition: 0.3s;
    filter: none;
    
}

.name-contain {
    background-color: rgb(255, 205, 195);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(34, 31, 31);
    font-weight: 600;
    border-radius: 20px;
    width: 240px;
    height: 30px;
}
.game-contain {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 20px;
    margin: 4px;
    height: 30px;
    width: 240px;
    font-weight: 400;
    position: relative;
}
#bot {
    position: absolute;
    bottom: 0;
}